.controls {
  margin: 25px 0;
}
.controls input[type=text],
.controls button {
  height: 33.5px;
}
.error-output {
  text-align: center;
  color: #db3498;
}
.base-btn {
  position: relative;
  letter-spacing: 1px;
  vertical-align: top;
  font-size: 14px;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.base-btn:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.button {
  position: relative;
  letter-spacing: 1px;
  vertical-align: top;
  font-size: 14px;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  text-transform: uppercase;
  padding: 6px 21px;
  text-align: center;
  border-bottom: 2px solid #258cd1;
  box-shadow: inset 0 -2px #258cd1;
}
.button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.round-btn {
  position: relative;
  letter-spacing: 1px;
  vertical-align: top;
  font-size: 14px;
  color: white;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #3498db;
  border: 0;
  cursor: pointer;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 34px;
  height: 34px;
  border-radius: 17px;
}
.round-btn:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.field {
  margin-bottom: 5px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: initial;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0 10px;
  color: #555;
}
.field:focus {
  box-shadow: 0 0 5px #3498db;
  border: 1px solid #3498db;
}
.field-error {
  box-shadow: 0 0 5px #db3498;
  border: 1px solid #db3498;
}
.history-row {
  font-size: 12px !important;
}
.history-row div {
  overflow: hidden;
}
.history-row a {
  color: black;
}
.sitemap-row {
  margin: 5px 0;
  font-size: 12px !important;
}
.sitemap-row div {
  overflow: hidden;
}
.sitemap-row a {
  color: black;
}
.day-header {
  font-size: 14px;
  margin-left: 15px;
}
.right-offset {
  margin-right: 15px;
}
@media screen and (min-width: 992px) {
  #historyBtn {
    position: relative;
    letter-spacing: 1px;
    vertical-align: top;
    font-size: 14px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #3498db;
    border: 0;
    cursor: pointer;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    text-transform: uppercase;
    padding: 6px 21px;
    text-align: center;
    border-bottom: 2px solid #258cd1;
    box-shadow: inset 0 -2px #258cd1;
  }
  #historyBtn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #smHistoryMarker {
    display: none;
  }
  #fixedContainer {
    position: fixed;
    top: 76px;
    right: 50px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #historyBtn {
    position: relative;
    letter-spacing: 1px;
    vertical-align: top;
    font-size: 14px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #3498db;
    border: 0;
    cursor: pointer;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    width: 34px;
    height: 34px;
    border-radius: 17px;
  }
  #historyBtn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #lgHistoryMarker {
    display: none;
  }
  #fixedContainer {
    position: fixed;
    z-index: 9999;
    top: 8px;
    right: 8px;
  }
}
@media screen and (max-width: 768px) {
  #historyBtn {
    position: relative;
    letter-spacing: 1px;
    vertical-align: top;
    font-size: 14px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #3498db;
    border: 0;
    cursor: pointer;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    width: 34px;
    height: 34px;
    border-radius: 17px;
  }
  #historyBtn:active {
    top: 1px;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  #lgHistoryMarker {
    display: none;
  }
  #fixedContainer {
    position: fixed;
    z-index: 9999;
    top: 8px;
    right: 68px;
  }
}