body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.logo {
    float: left;
    height: 50px;
    padding: 5px 15px;
}

.inline-form-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

#fieldUrl {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.form-head {
    padding: 30px 0;
    width: 79%;
    float: left;
}

#outPut {
    text-align: center;
}

#tableContainer {
    display: none;
}

    #tableContainer table > tbody > tr:nth-child(2) {
        background-color: rgb(217, 237, 247);
        margin-bottom: 3px;
    }


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
