@using UtilitiesPackage;
@model IEnumerable<MeasurementResult>

<div class="col-md-offset-2 col-md-8" >
    <table class="table table-striped table-bordered table-hover">
        <tbody>
            <tr>
                <th>Site Name</th>
                <th>Time (ms)</th>
            </tr>
        </tbody>
        @foreach (var pair in Model)
        {
            <tr>
                <td>@pair.Url</td>
                <td>@pair.Time.TotalSeconds</td>
            </tr>
        }
    </table>
</div>