@model IEnumerable<KeyValuePair<string, TimeSpan>>

<div class="col-md-offset-2 col-md-8" >
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Site Name</th>
            <th>Time (ms)</th>
        </tr>
        @foreach (KeyValuePair<string, TimeSpan> pair in Model)
        {
            <tr>
                <td>@pair.Key</td>
                <td>@pair.Value.TotalSeconds</td>
            </tr>
        }
    </table>
</div>