@using Core.Model
@model  IEnumerable<HistoryRow>

@foreach (var row in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="history-row panel-title">
                <div class="link-cont">
                    <a data-toggle="collapse" data-parent="#accordion" href="#@row.Id" data-switch="true" data-url=@Url.Action("HistorySitemap")>@row.Url</a>
                </div>
                <div class="res-cont">
                    <span>Min: @row.MinTime.TotalSeconds.ToString("N2")</span>
                    <span>Max: @row.MaxTime.TotalSeconds.ToString("N2")</span>
                </div>
            </div>
        </div>
        <div id=@row.Id class="panel-collapse collapse">
        </div>
    </div>
}
