@using Core.Model
@using WebSiteSpeedTest.Models
@model  HistoryPageViewModel<SitemapRow>

<div class="panel-body">
    @foreach (var sRow in Model.Content)
    {
        <div class="sitemap-row row">
            <div class="col-md-offset-1 col-md-8">
                <a target="_blank" href=@sRow.Url>@sRow.Url</a>
            </div>
            <div class="col-md-3">
                <span class="right-offset">Min: @sRow.MinTime.TotalSeconds.ToString("N2")</span>
                <span>Max: @sRow.MaxTime.TotalSeconds.ToString("N2")</span>
            </div>
        </div>
    }

    @Html.Partial("_HistoryPager", Model.HistoryPager)
</div>