@using Core.Model
@model  IEnumerable<SitemapRow>

@foreach (var sRow in Model)
{
    <div class="sitemap-row row">
        <div class="col-md-9">
            <a target="_blank" href=@sRow.Url>@sRow.Url</a>
        </div>
        <div class="col-md-3">
            <span class="right-offset">Min: @sRow.MinTime.TotalSeconds.ToString("N2")</span>
            <span>Max: @sRow.MaxTime.TotalSeconds.ToString("N2")</span>
        </div>
    </div>
}