@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-5">
            <div class="form_head ">
                <div class="input-group">
                    <input class="form-control" id="input_url" placeholder="www.example.com" value="http://moscow.megafon.ru/" />
                    <span class="input-group-btn">
                        @Html.ActionLink("Start test", "Compute", "Home", null, new
                   {
                       @class = "btn btn-default",
                       id = "ajaxLink",
                       data_ajax = "true",
                       data_ajax_method = "POST",
                       data_ajax_update = "#outPut"
                   })
                    </span>
                </div>
            </div>
            <img id="wait_loader" src="~/Content/Images/1 (1).gif" />
            
            @* History Button *@
            <button id="historyBtn" class="btn btn-info" data-toggle="modal" data-target="#HistoryModal">History</button>
        </div>

            <section id="tableResult" class="row">
                <div class="col-md-12">
                    <div class="col-md-offset-2 col-md-8">
                        <table class="table table-striped table-bordered table-hover">
                            <tbody id="outPutTB"></tbody>
                        </table>
                    </div>
                </div>
            </section>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="HistoryModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">History</h4>
            </div>
            <div class="modal-body">
                <p>Laoreet ac, aliquam sit amet justo nunc tempor, metus vel placerat suscipit, orci nisl iaculis eros, a tincidunt nisi odio eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


@section signalR{
    @Scripts.Render("~/bundles/signalR")
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/indexSignalR.js"></script>
}

@section scripts{
    <script>
        (function ()
        {
            var wLoader = $("#wait_loader");
            var sectionTabRes = $("#tableResult");


            $("#ajaxLink")
                .click(function ()
                {
                    wLoader.show();
                    sectionTabRes.show();
                    $("#outPutTB").html("<tr><th>Url</th><th>Min (s)</th><th>Max (s)</th></tr>");
                    var ajMeth = $(this).attr('data-ajax-method');
                    var t_url = $(this).attr('href');
                    var input_data = $("#input_url").val();

                    $.ajax({
                        type: ajMeth,
                        url: t_url,
                        data: { url: input_data }
                    })
                        .then(function (e)
                        {
                            wLoader.hide();

                            //$("#outPut").html(e);
                        });
                    return false;
                });
        })();
    </script>
}