@{
    ViewBag.Title = "Web Speed Test";
}

<section class="controls">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-centered">
                <div class="inline-form-group">
                    <div id="fieldUrl">
                        <input class="field" id="input_url" type="text" placeholder="www.example.com" />
                        <label id="inputUrlErorrs" class="error-output"></label>
                    </div>
                    <button id="startTestBtn" class="button fixed-btn-size" data-url=@Url.Action("Compute")>
                        <i id="startTestWaiter" class="fa fa-circle-o-notch fa-spin"></i>
                        <span id="startTestDefaultText">Start test</span>
                    </button>
                </div>
                <div id="fixedContainer">
                    <button id="historyBtn" class="" data-toggle="modal" data-target="#historyModal" data-update-custom="#historyContainer" data-url=@Url.Action("History")>
                        <span id="lgHistoryMarker">History</span>
                        <i id="smHistoryMarker" class="fa fa-history" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="graphics">
    <div class="container">
        <div class="row">
            <div class="col-lg-offset-1 col-md-10">
                <div id="chartContainer" class="hidden-sm hidden-xs"></div>
            </div>
        </div>
    </div>
</section>

<section id="sectionTableResult">
    <div class="container">
        <div class="row">
            <div id="tableContainer" class="col-md-offset-1 col-md-10"></div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="historyModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title text-center">History</h4>
            </div>

            <!-- Modal body-->
            <div class="modal-body">
                <div id="modalWaiter" class="text-center">
                    <i class="fa fa-cog fa-spin fa-5x fa-fw"></i>
                </div>
                <div id="historyContainer"></div>
            </div>
        </div>

    </div>
</div>

@section scripts{
    @Scripts.Render("~/bundles/signalR")
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/User's_JS/build/index.js"></script>
}